<center><h2>BigBlueButton Test Application</h2></center>

<div style="padding-left:100px">
    <h3>Create or Join a demo session</h3>
    
    <div class="ui-form">
        <%= form_tag('/create',method:"post")%>
        <%= text%>
        <%= submit_tag("Join Room", class: "ui button green")%>
    </div>
</div>