<%= csrf_meta_tags %>
<center><h1 style="padding-top:40px; padding-bottom:80px">BigBlueButton Test Application</h1></center>
 
<center>
    <a href="/join">Join a meeting</a> <br>
    <a href="/create">Create a meeting</a>
</center>

<div style=" margin-left:15%; margin-top:60px">
    <h2>List of recordings</h2>
    
    <% if @recordings.length == 0 %>
        <tr>There are currently no recording</tr>
    <% else %>
        <table class="ui celled table" style="width:81%">
            <thead>
                <th>Recordings</th>
                <th>Action</th>
            </thead>
            <tbody>
                <% @recordings.each do |recording| %>
                    <tr>
                        <td data-url=<%=recording["url"]%> onclick="open_video(this)">
                            <%=recording["id"]%> 
                        </td>
                        <td data-id=<%=recording["id"]%> onclick="delete_recording(this)">
                            Delete
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
</div>